<div class="container-fluid zone-form" style="padding-bottom: 25px">
    <form id="form-top-event">
        <div class="row">
            <div class="col-sm-6">

                <div class="zone-item zone-item-image" style="max-width: 50%">{$zone-academy-logo}</div>

                <div class="zone-item zone-item-text">{$zone-academy-text}</div>

                <div class="zone-item zone-item-header">{$zone-academy-header}</div>
                
                <div class="zone-item zone-item-info">{$zone-academy-more-info}</div>
                <div class="zone-item zone-item-info zone-item-group">
                    <div class="zone-item zone-item-info-detail">
                        <i class="fa fa-map-marker"></i>{$zone-academy-info-local}
                    </div>
                    <div class="zone-item zone-item-info-detail">
                        <i class="fa fa-envelope"></i>{$zone-academy-info-email}
                    </div>
                    <div class="zone-item zone-item-info-detail">
                        <i class="fa fa-phone"></i>{$zone-academy-info-tel}
                    </div> 
                </div>

                <div class="zone-item zone-item-id">{$zone-academy-id}</div>

            </div>
            <div class="col-sm-6">
                <div class="zone-item zone-item-image">
                    {$zone-academy-image}
                    {$zone-academy-image-filename}
                </div>

            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12" style="margin-top: 30px;">

                <div class="zone-item zone-item-category" style="text-align: center;  color: #00AAE5;">{$zone-academy-list-header}</div>

                <div class="zone-item zone-item-title" style="text-align: center; font-size: 5em;">
                    {$zone-academy-list-title}
                </div>

            </div>
        </div>


        <div class="zone-buttons">
            <ul class="nav navbar-nav navbar-zone">
                <li class="menu-edit-tools">
                    <a class="btn-edit-edit" 
                       data-action="/editor/edit_academy/{$zone-academy-id}/?zone=academy">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Edit
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-undo {$zone-academy-disable}" 
                       data-action="/editor/undo_academy/{$zone-academy-id}/?zone=academy">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Undo
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-save {$zone-academy-disable}" 
                       data-action="/editor/save_academy/{$zone-academy-id}/?zone=academy">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Save
                    </a>
                </li>
            </ul>
        </div>

    </form>

</div>

