{@extends 'config:frontend'}

{@block name='css'}
<link href="/backend/theme/css/personal/menu.css" rel="stylesheet">
{@endblock}


<section class="header">
    <div class="container">
        <div class="col-sm-2 col-centered text-center">
            <div class="text-center">
                <img class="img-responsive" src="/backend/theme/images/timeoutmarket.png" />
            </div>
        </div> 
    </div>

</section>
<section class="menu-layer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="menu-item-link text-center">
                    <a href="/backend/home/markets_menu">
                        take me to <br />THE MARKET
                    </a> 
                </div>
                <div class="menu-item-description text-center">
                    Manage your local website, app and market content
                </div>


            </div>
            <div class="col-sm-6">
                <div class="menu-item-link text-center">
                    <a href="/backend/home/markets_menu">
                        take me to the<br />THE BRAND
                    </a>               
                </div>
                <div class="menu-item-description text-center">
                    Access guidelines, assets, images and presentations
                </div>

            </div>
        </div>
    </div>

</section>



{@block name='js'}

{@endblock}
