<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <!--
            <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-edit-tools">
                    <a class="btn-edit-undo" href="#undo">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Undo
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-save" href="#save">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Save
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-submit" href="#submit">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Submit
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#story">Story</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Restaurants & Shops</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Calendar</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Cooking Academy</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Time Out Studio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">How To Get Here</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Time Out</a>
                </li>
                <li class="menu-edit-lang">
                    {$lang-pt}
                </li>
                <li class="menu-edit-lang">
                    {$lang-en}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
