<div class="container-fluid shop-row">

        <div class="row">
            <div class="col-sm-12">
                
                <div class="zone-item zone-item-image zone-full-image">
                    {$zone-shop-image}
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-3">

                <div class="zone-item zone-item-space-number">
                    {$zone-shop-space-number}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="zone-item zone-item-title" style="text-align: left; font-size: 4em;">
                    {$zone-shop-title}
                </div>
                <div class="zone-item zone-item-text">
                    {$zone-shop-pop-excerpt}
                </div>
            </div>
        </div>


        <div class="row-buttons">
            <ul class="nav navbar-nav navbar-zone">
                <li class="menu-edit-tools">
                    <a class="btn-edit-edit" 
                       data-action="/editor/edit_shops/{$zone-shop-data-id}/?js=1">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Edit
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-undo {$zone-shop-disable}" 
                       data-action="/editor/undo_shops/{$zone-shop-data-id}/?js=1">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Undo
                    </a>
                </li>
                <li class="menu-edit-tools">
                    <a class="btn-edit-save {$zone-shop-disable}" 
                       data-action="/editor/save_shops/{$zone-shop-data-id}/?js=1">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <br />Save
                    </a>
                </li>
            </ul>
        </div>

    </div>