<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <!--
            <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/backend">Backend</a>
                </li>
                <li>
                    <a href="/backend/editor/lisboa">Home</a>
                </li>
                <li>
                    <a href="/backend/editor/themarket">The Market</a>
                </li>
                <li>
                    <a href="/backend/editor/eatshop">Eat&Drink</a>
                </li>
                <li>
                    <a href="/backend/editor/academy">Academy</a>
                </li>
                <li>
                    <a href="/backend/editor/studio">Studio</a>
                </li>
                <li>
                    <a href="/backend/editor/calendar">Calendar</a>
                </li>
                <li>
                    <a href="/backend/editor/gethere">How to get there</a>
                </li>
                <li>
                    <a target="_blank" href="/">Frontend</a>
                </li>
                <li class="menu-edit-lang">
                    {$lang-pt}
                </li>
                <li class="menu-edit-lang">
                    {$lang-en}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
