<div class="slider-buttons">
    <ul class="nav navbar-nav navbar-zone">
        <li class="menu-edit-tools">
            <a class="btn-edit-undo {$header-btn-disable}" 
               data-action="/backend/editor/undo_slider/">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <br />List
            </a>
        </li>
        <li class="menu-edit-tools">
            <a class="btn-edit-edit {$header-btn-edit-disable}" 
               data-action="/backend/editor/edit_slider/">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <br />Edit
            </a>
        </li>
        <li class="menu-edit-tools">
            <a class="btn-edit-add {$header-btn-add-disable}" 
               data-action="/backend/editor/add_slider/">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <br />Add
            </a>
        </li>
        <li class="menu-edit-tools">
            <a class="btn-edit-save {$header-btn-disable}" 
               data-action="/backend/editor/save_slider/">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <br />Save
            </a>
        </li>
        <li class="menu-edit-tools">
            <a class="btn-edit-delete {$header-btn-disable}" 
               data-action="/backend/editor/delete_slider/{$slider-id}">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <br />Remove
            </a>
        </li>
    </ul>
</div>
