<form id="form-zone-bottom-south-west">
    <div class="container-fluid zone-form">
        
        <div class="zone-switcher-container">
            <div class="zone-switcher">{$zone-bottom-south-west-switcher}</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                
                <div class="zone-item zone-item-header">{$zone-bottom-south-west-header}</div>
                
                <div class="zone-item zone-item-title">{$zone-bottom-south-west-title}</div>
                
                <div class="zone-item zone-item-image">
                    {$zone-bottom-south-west-image}
                    {$zone-bottom-north-west-media}
                    {$zone-bottom-south-west-image-filename}
                </div>
                
                <div class="zone-item zone-item-id">{$zone-bottom-south-west-id}</div>

            </div>
            
        </div>
        
        {@include 'Editor/view/buttons.htm';[REPLACE-ZONE=>'bottom-south-west']}
        

    </div>
</form>
