<form id="form-zone-bottom-east">
    <div class="container-fluid zone-form">
        
        <div class="zone-switcher-container">
            <div class="zone-switcher">{$zone-bottom-east-switcher}</div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                
                <div class="zone-item zone-item-header">{$zone-bottom-east-header}</div>
                
                <div class="zone-item zone-item-title">{$zone-bottom-east-title}</div>
                
                <div class="zone-item zone-item-image">
                    {$zone-bottom-east-image}
                    {$zone-bottom-east-image-filename}
                </div>

            </div>
            <div class="col-sm-6">
                
                <div class="zone-item zone-item-text-title">{$zone-bottom-east-text-title}</div>
                
                <div class="zone-item zone-item-text">{$zone-bottom-east-text}</div>
                
                <div class="zone-item zone-item-id">{$zone-bottom-east-id}</div>
            </div>
        </div>
        
        {@include 'Editor/view/buttons.htm';[REPLACE-ZONE=>'bottom-east']}
        

    </div>
</form>
